.VC-grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #2196F3;
    padding: 10px;
  }
  .VC-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
  }